@using System.Web.UI.WebControls
@using IndivisibleVCF.Models
@model IndivisibleVCF.Models.GenerateVcfButtonResultViewModel
@{
    ViewBag.Title = "GeneratedResultVcf";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Here you go!</h2>
<p>Below are VCF files for all federal representatives for the user zip code (@ViewData.Model.ZipCode)</p>

@foreach (var result in Model.RepresentativeSearchResult.Results)
{  
    <div class="form-group">
        <div class="btn-group">
            <address>
                <h3>@result.Title @result.FirstName @result.LastName</h3>
                <span>@result.Office</span> <br/>
                <a href="tel:@result.Phone">@result.Phone</a> <br/>
                <a href="mailto:@result.OcEmail">@result.OcEmail</a> <br/>                
                <input type="button" value="Download File Result" onclick="location.href='@Url.Action("DownloadVcfFileResult", result)'" />              
            </address>
        </div>
    </div>   
}
