@using System.Web.UI.WebControls
@using IndivisibleVCF.Models
@model IndivisibleVCF.Models.GenerateVcfButtonResultViewModel
@{
    ViewBag.Title = "GeneratedResultVcf";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Here you go!</h2>
<p>Below are VCF files for all federal representatives for the user zip code (@ViewData.Model.ZipCode)</p>

@foreach (var result in Model.RepresentativeSearchResult.Results)
{  
    <div class="form-group">
        <div class="btn-group">
            <label>@result.Title @result.FirstName @result.LastName</label>
            <br/>
            @Html.ActionLink("Download File Result", "DownloadVcfFileResult", result )
        </div>
    </div>   
}
